html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
border:0;
font: inherit;
font-size:100%;
margin:0;
padding:0;
vertical-align:baseline;
}

html, body {

	background: #F1F1F1; font-family: 'Lato', helvetica, arial, sans-serif; font-size: 16px; color: #222;}

/*.clear {clear: both;}*/

	background: #60646D; font-family: 'Lato', helvetica, arial, sans-serif; font-size: 16px; color: #222;}

.clear {clear: both;}



.top {
	width: 90%;
	max-width: 1200px;
	background: #f3f3f3;
	margin: 0 auto;
}

#banner {	
	max-width: 100%;
	height: auto;	
}

#banner img {
	box-sizing: border-box;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 5px;
	max-width: 1200px;	
	margin: 0 auto;
}


#topMenu {
	font-size: 90%;
	margin-top: 5px;
}

#topMenu ul {
	list-style-type: none;			
  	text-align: center;

  	background: #ffffff;  	

  	background: #367FA6;  	

  	padding: 15px 8px;
  	font-size: 16px;
}

#topMenu ul li {
	display: inline;
	font-weight: bold;
}


#topMenu ul li a:link, #topMenu a:visited {	
	margin-left: 30px;

	padding: 14px 30px;
	color: #000000;	

	padding: 15.5px 30px;
	color: #ffffff;	

  	text-decoration: none;
}

#topMenu ul li a:hover {

	color: #3D8EB9;
	/*background: #ffffff;	
}


	color: #367FA6;	
	background: #ffffff;
}

